# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thait\OneDrive\Desktop\Module_3\Module_3\bai_10\hien_thi_danh_sach_khach _hang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
